<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<head>
	<meta charset="utf-8">
	<title>Criar Filme</title>
</head>
<body>

<div class="container mt-3">
	<form th:object="${filmeRequestDTO}" action="/api/v1/filme/filmes" method="POST">
		<div class="row">
			<div class="col-md-6">
				<div class="input-group mb-3 input-group-sm">
					<span class="input-group-text">Nome</span>
					<input type="text" th:errorclass="is-invalid" th:field="*{nome}"
						   class="form-control">
					<div class="invalid-feedback" th:errors="*{nome}"></div>
				</div>

				<div class="input-group mb-3 input-group-sm">
					<span class="input-group-text">Autor</span>
					<input type="text" th:errorclass="is-invalid" th:field="*{autor}"
						   class="form-control">
					<div class="invalid-feedback" th:errors="*{autor}"></div>
				</div>

				<div class="input-group mb-3 input-group-sm">
					<span class="input-group-text">Genero</span>
					<input type="text" th:errorclass="is-invalid" th:field="*{genero}"
						   class="form-control">
					<div class="invalid-feedback" th:errors="*{genero}"></div>
				</div>

				<div class="input-group mb-3 input-group-sm">
					<span class="input-group-text">Ano</span>
					<input type="text" th:errorclass="is-invalid" th:field="*{ano}"
						   class="form-control">
					<div class="invalid-feedback" th:errors="*{ano}"></div>
				</div>

				<div class="input-group mb-3 input-group-sm">
					<span class="input-group-text">Nota</span>
					<input type="text" th:errorclass="is-invalid" th:field="*{nota}"
						   class="form-control">
					<div class="invalid-feedback" th:errors="*{nota}"></div>
				</div>

				<div class="input-group mb-3 input-group-sm">
					<span class="input-group-text">Diretor</span>
					<input type="text" th:errorclass="is-invalid" th:field="*{diretor}"
						   class="form-control">
					<div class="invalid-feedback" th:errors="*{diretor}"></div>
				</div>

		</div>
		<input class="btn btn-success" type="submit" value="Salvar" />
	</form>
</div>
</body>
</html>
